@import url(normalize.css);

body {
    margin: 0;
    padding: 0;
    min-width: 1170px;
    font-family: "Segoe UI", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.main-header {
    height: 800px;
    background: url(../images/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #515f67;
    text-align: center;
}

.main-navigation {
    background: rgba(53, 63, 70, 0.85);
    margin-bottom: 250px;
}

.header-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 60px 0;
    display: block;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.e-letter {
    color: #4bcaff;
}

.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

.site-navigation li {
    padding: 53px 0;
    vertical-align: middle;
}

.site-navigation a {
    display: block;
    padding: 10px 18px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
    color: #4bcaff;
    padding: 8px 16px;
    border: 2px solid #4bcaff;
}

.header-phrase-wrap {
    margin: 0 auto;
    padding-bottom: 226px;
    max-width: 990px;
    text-align: center;
}

.header-phrase {
    margin: 0;
    margin-bottom: 12px;
    padding: 0 10px;
    display: inline-block;
    font-size: 42px;
    font-weight: lighter;
    line-height: 75px;
    text-transform: uppercase;
    background: rgba(53, 63, 70, 0.85);
}

.services {
    background: #4bcaff;
    min-height: 405px;
}

.services-container {
    width: 1170px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 80px;
    position: relative;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}

h2::after {
    content: '';
    position: absolute;
    width: 45px;
    left: 0px;
    top: 115px;
    border-bottom: 2px solid #ffffff;
}

.services ul li {
    width: 270px;
    list-style: none;
    display: block;
}

.services-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.services-list h3 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.services-list p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.portfolio {
    min-height: 845px;
}

.portfolio-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio h2 {
    margin: 0;
    color: #515f67;
}

.portfolio h2::after {
    border-bottom: 2px solid #515f67;
}

.portfolio-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

.portfolio-navigation li {
    padding: 75px 0;
    vertical-align: middle;
}

.portfolio-navigation a {
    display: block;
    padding: 10px 18px;
    color: #515f67;
}

.portfolio-navigation a:hover,
.portfolio-navigation a:focus,
.portfolio-navigation a:active {
    color: #4bcaff;
    padding: 8px 16px;
    border: 2px solid #4bcaff;
}

.portfolio-gallery {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-image {
    height: 270px;
    width: 270px;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #495259;
}

.container-image:hover .overlay {
    opacity: 0.9;
}

.overlay-text {
    color: white;
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.default {
    min-height: 473px;
    background: #515f67;
}

.default-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.default-text-container {
    width: 470px;
}

.default img {
    padding-top: 80px;
}

.default a {
    display: block;
    width: 60px;
    color: #353f46;
    margin-top: 40px;
    padding: 11px 39px;
    border: 2px solid #353f46;
}

.twitter {
    min-height: 305px;
    background: #4bcaff;
}

.twitter-container {
    width: 1170px;
    margin: 0 auto;
}

.twitter-header {
    background: url(../images/twi-logo.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.twitter h2 {
    margin-bottom: 30px;
}

.twitter p {
    margin: 0;
    font-size: 28px;
    font-weight: lighter;
    line-height: 50px;
}

.twitter p a {
    text-transform: lowercase;
    font-weight: 600;
}

.who-is {
    margin: 0;
    min-height: 505px;
    background: url(../images/who-is-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #515f67;
}

.who-is-container {
    width: 1170px;
    margin: 0 auto;
}

.who-is h2 {
    padding-top: 100px;
    margin-bottom: 50px;
}

.who-is h2::after {
    top: 135px;
}

.who-is p {
    margin: 0;
    padding-bottom: 30px;
    width: 570px;
}

.who-is-content {
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 340px;
    display: flex;
    justify-content: space-between;
    left: 0;
}

.social-list li a {
    display: flex;
    width: 64px;
    height: 64px;
    border: 2px solid #ffffff;
    align-items: center;
    justify-content: center;
}

.testimonials {
    min-height: 360px;
}

.testimonials-container {
    width: 1170px;
    margin: 0 auto;
}

.testimonials-header {
    background: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.testimonials h2 {
    margin: 0;
    margin-bottom: 50px;
    color: #515f67;
}

.testimonials h2::after {
    border-bottom: 2px solid #515f67;
}

.quote {
    margin: 0;
    margin-bottom: 20px;
    color: #515f67;
    font-size: 28px;
    line-height: 50px;
    font-weight: lighter;
}

.quote-author {
    margin: 0;
    color: #4bcaff;
    font-size: 14px;
    font-weight: bold;
}

.contact {
    margin: 0;
    min-height: 814px;
    background: url(../images/contact-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #515f67;
}

.contact-container {
    width: 1170px;
    margin: 0 auto;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.contact b {
    text-transform: uppercase;
}

.contact input[type="text"],
.contact input[type="email"] {
    margin-bottom: 5px;
    color: #ffffff;
    width: 470px;
    height: 60px;
    border: 2px solid #ffffff;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    padding-left: 10px; 
    padding-right: 10px; 
}

.form-user-data {
    display: flex;
    flex-direction: column;
}

.form-user-data b {
    margin-bottom: 5px;
}

.form-content {
    width: 570px;
    display: flex;
    flex-direction: column;
}

.form-content p {
    margin: 0;
    padding-top: 18px;
    font-weight: 600;
}

.form-container2 {
    display: flex;
    flex-direction: column;
}

.form-container2 textarea {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 24px;
    padding-left: 10px; 
    padding-right: 10px;
    width: 1146px;
    height: 220px;
    outline: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    resize: none;
}

.form-container2 input[type="submit"] {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    width: 370px;
    height: 60px;
    background: #4bcaff;
    border: none;
    cursor: pointer;
}

.main-footer {
    min-height: 170px;
    background: #353f47;
    color: #515f67;
}

.footer-container {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.main-footer ul {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-footer li {
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 2px solid #515f67;
}

.main-footer li:first-child {
    padding-left: 0;
    border: none;
}

.main-footer a {
    color: #515f67;
}

.main-footer p {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    line-height: 1;
}
